MEDIA_PORT=5001
IDENTITY_SERVICE_URL=http://localhost:8080
INTERNAL_SERVICE_TOKEN=gostay-internal-secret-token-12345
EMAIL_INTERNAL_TOKEN=gostay-internal-secret-token-12345

# SMTP email sender
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-google-app-password
SMTP_FROM_NAME=GoTravel
SMTP_FROM_EMAIL=your-email@gmail.com

CLOUDINARY_CLOUD_NAME=df3i0hqv2
CLOUDINARY_API_KEY=381284519599131
CLOUDINARY_API_SECRET=NtwBgW7A_ng0q5wGMdCEnx2GbJk
