MEDIA_PORT=5001
IDENTITY_SERVICE_URL=http://localhost:8080
INTERNAL_SERVICE_TOKEN=gostay-internal-secret-token-12345
CLOUDINARY_CLOUD_NAME=df3i0hqv2
CLOUDINARY_API_KEY=381284519599131
CLOUDINARY_API_SECRET=NtwBgW7A_ng0q5wGMdCEnx2GbJk
